# Optional — defaults to /api-v1.0 (proxied to localhost:9080 in dev)
VITE_API_BASE_URL=/api-v2.0
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Szg0BCrh5KKrAPdqBGNpJFMIOevxOA9JbqFiX5PkcN3NHmPkyxPu9T7EX0RmniaACozWkUY1GpOOA7jJpV2yKMi00Rtd9t4Sz